body {
  margin: 0;
  padding: 0;
  background: #110e2b;
  color: #7e7e7e;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}

